[*.cs]

# S3966: Objects should not be disposed more than once
dotnet_diagnostic.S3966.severity = suggestion

# S1751: Loops with at most one iteration should be refactored
dotnet_diagnostic.S1751.severity = suggestion

# S1118: Utility classes should not have public constructors
dotnet_diagnostic.S1118.severity = suggestion

# S2259: Null pointers should not be dereferenced
dotnet_diagnostic.S2259.severity = suggestion

# S112: General exceptions should never be thrown
dotnet_diagnostic.S112.severity = suggestion

# CA1305: Especificar IFormatProvider
dotnet_diagnostic.CA1305.severity = suggestion
