<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="UNITE.DataTypes.Properties.Settings.UNITEConnectionString"
      connectionString="Data Source=MDP3550\BRYAN;Initial Catalog=UNITE;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>