<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">@ViewData["Title"]</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
        <a href="@Url.Action("Index", "Estado")" target="_blank" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Ver Estado de Unidades</a>
        <ol class="breadcrumb">
            <li><a href="javascript:location.reload()">@ViewData["Navigation"]</a></li>
            <li class="active">@ViewData["Title"]</li>
        </ol>
    </div>
</div>